# Dependency folders
**/node_modules/
**/.expo/
**/dist/
**/web-build/
expo-env.d.ts

# Python / Django Backend
**/.venv/
**/__pycache__/
**/*.py[cod]
**/db.sqlite3
**/.env
**/secrets/

# Next.js Web
**/.next/

# Native & Keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
*.pem
